page-home {

}
.animacao {
    width: 100%;
    height: 1px;
    animation-name:animacao;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animacao {
    0% {background-color: aquamarine;}
    10% {background-color: aqua;}
    20% {background-color: blueviolet;}
    40% {background-color: magenta;}
    60% {background-color: orange}
    80% {background-color: yellow;}
    100% {background-color: red;}
}